# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
*.egg-info/
dist/
build/

# Jupyter Notebook
.ipynb_checkpoints
*.ipynb

# Datos generados
advertiser_ids
product_views
ads_views
*.csv

# Airflow
airflow/logs/
airflow/airflow.db
airflow/airflow.cfg

# Docker
*.log

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# AWS
.aws/
*.pem

# Environment variables
.env
.env.local

